.jumbotron {
    font-family: 'Lora', serif;
    background-color: var(--timberwolf);
    text-align: left;
    overflow: hidden;
    max-height: 700px;
}

.jumbotron img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.row {
    animation: color-change 5s;
}
@keyframes color-change {
    0% {
        color: var(--timberwolf);
    }
    100%  {
        color: black;
    }
}

.col-lg-4 {
    color: var(--bittersweet);
    border-radius: 50%;
}
